Backup
cslol-tools
Fix_Healthbars
Fix_VFX
Obsidian
profiles
allow_admin.txt
config.ini
cslol-manager.exe
current.profile
FIX-NON-ENGLISH.reg
LICENSE
lockfile
log.txt
SOURCE.url
version.txt
installed/Bonk Nasus/META/info.json
installed/Bonk Nasus/META/image.png
installed/Bonk Nasus/WAD/nasus.wad.client
